<div class="container">
    <div class="row row-cols-2">

<div class="col">

<div class="container">
  <div class="row">
     <div class="col-md-12">
         <div class="card">
            <div class="card-body">
               <form action="/admin/eds23goles" method="POST">
              
         
            
              <div class="form-row">
         <div class="col">

              <div class="form-group">
               <input type="text" value="" name="Jornada" class="form-control" placeholder="Jornada">
              </div>
         </div>
         <div class="col">
               <div class="form-group">
               <input type="date" value="" name="Fecha" class="form-control" placeholder="Fecha">
              </div>


 </div>
</div>
            <div class="form-row">
              <div class="col">

                <div class="form-group">

 <select name="Equipo1" class="form-control" placeholder="Equipo1">
               {{#each opciones}}
                <option value="{{id_plantel}}">{{id_plantel}}-{{Nombre_Equipo}}</option>
                 {{/each}}
                </select>    

                </div>
                </div>
              <div class="col">
               <div class="form-group">
 <select name="Rival" class="form-control" placeholder="rival">
               {{#each opciones}}
                <option value="{{id_plantel}}">{{id_plantel}}-{{Nombre_Equipo}}</option>
                 {{/each}}
                </select>   
               </div>
               </div>
               <div class="col">
               <div class="form-group">
               <input type="text" value="" name="Hora" class="form-control" placeholder="hora">
               </div>
               </div>
         </div>

<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="idl" class="form-control" placeholder="idl">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="idv" class="form-control" placeholder="idv">
              </div>
              </div>
            
        
         </div>


<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="nam1" class="form-control" placeholder="naml">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="namv" class="form-control" placeholder="namv">
              </div>
              </div>
        
         </div>

<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="dor1" class="form-control" placeholder="dorl">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="dorv" class="form-control" placeholder="dorv">
              </div>
              </div>
        
         </div>
<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="gl" class="form-control" placeholder="gl">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="gv" class="form-control" placeholder="gv">
              </div>
              </div>
        
         </div>
<h1>jugador2</h1>
        <div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="id2" class="form-control" placeholder="idl2">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="idv2" class="form-control" placeholder="idv2">
              </div>
              </div>
            
        
         </div>


<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="nam2" class="form-control" placeholder="nam2">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="namv2" class="form-control" placeholder="namv2">
              </div>
              </div>
        
         </div>

<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="dor2" class="form-control" placeholder="dor2">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="dorv2" class="form-control" placeholder="dorv2">
              </div>
              </div>
        
         </div>
<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="gl2" class="form-control" placeholder="gl2">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="gv2" class="form-control" placeholder="gv2">
              </div>
              </div>
        
         </div>
<h1> jugador 3 </h1>
<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="idl3" class="form-control" placeholder="idl3">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="idv3" class="form-control" placeholder="idv3">
              </div>
              </div>
            
        
         </div>


<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="naml3" class="form-control" placeholder="naml3">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="namv3" class="form-control" placeholder="namv3">
              </div>
              </div>
        
         </div>

<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="dor3" class="form-control" placeholder="dorl3">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="dorv3" class="form-control" placeholder="dorv3">
              </div>
              </div>
        
         </div>
<div class="form-row">
         <div class="col">

           <div class="form-group">
               <input type="text" value="" name="gl3" class="form-control" placeholder="gl3">
              </div>
              </div>
           <div class="col">
               <div class="form-group">
               <input type="text" value="" name="gv3" class="form-control" placeholder="gv3">
              </div>
              </div>
        
         </div>


         

           

              <div class="form-group">
              <button class="btn btn-success btn-block"> enviar </button>
              </div>

              

               </form>
            </div>
         </div>
     </div>
  </div>
</div>



</div>
<div class="col">
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
           <th scope="col">id E</th>

     <th scope="col">Equipo</th>
     <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Dorsal</th>

    </tr>
  </thead>
  <tbody>
       {{#each mixtagol}}
    <tr>
            <th scope="col">{{Equipo}}</th>

      <th scope="col">{{Equipolc}}</th>
     <th scope="col">{{ID_FB}}</th>
      <th scope="col">{{Nombres}}</th>
      <th scope="col">{{Dorsal}}</th>

    </tr>
                    {{/each}}

  </tbody>
</table>
</div>


</div>
</div>

</div>


<div class="col">
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
     <th scope="col">Equipo</th>
     <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Dorsal</th>
       <th scope="col">Goles</th>
<th scope="col">Jornada </th>
       <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
                            <th scope="col">opt</th>


    </tr>
  </thead>
  <tbody>
       {{#each mixtagolind}}
    <tr>
      <th scope="col">{{Equipolc}}</th>
     <th scope="col">{{ID_FB}}</th>
      <th scope="col">{{Nombres}}</th>
      <th scope="col">{{Dorsal}}</th>
       <th scope="col">{{Goles}}</th>
       <th scope="col">{{Jornada}}</th>
              <th scope="col">{{Fecha}}</th>
       <th scope="col">{{hora}}</th>
              <th scope="col">
<a href="eds23editgoleadores/{{id_registro}}" class="btn btn-success">Ed</a>
<a href="eds23borrargoleadores/{{id_registro}}"class="btn btn-danger">Br</a></th>



    </tr>
                    {{/each}}

  </tbody>
</table>
</div>


</div>
</div>
