
<div class="container p-4 mx-auto">
    <a href="#tablageneral" class="btn btn-success">Tabla General</a>

<a href="#tablagoleo" class="btn btn-success">Tabla Goleo</a>
<a href="#resuljornada" class="btn btn-success">Resultados por Jornada</a>
<a href="#resulequipos" class="btn btn-success">Resultados por Equipos</a>


</div>

<a name="tablageneral"></a>

<div class="container p-4 mx-auto">

<table class="table table-sm table-striped table-bordered table-hover">
<h3>
  <small class="text-muted">Tabla General</small>
</h3> 
 <thead class="table-success">
    <tr align="center">

      <th scope="col">Escudo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Puntos</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">DFG</th>
      <th scope="col">PJ</th>

    </tr>
  </thead>
  <tbody>
      
      
      

      {{#each vistas}}
      
    <tr align="center">
      <td><img src="{{Escudo}}" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td>{{Equipo}}</td>
      <td>{{Puntos}}</td>
      <td>{{GF}}</td>
      <td>{{GC}}</td>
      <td>{{DFG}}</td>
       <td>{{PJ}}</td>

    </tr>
  {{/each}}
    
  </tbody>
</table>

</div>

<a name="tablagoleo"></a>

<div class="container p-4 mx-auto">
    <a href="#tablageneral" class="btn btn-success">Tabla General</a>

<a href="#tablagoleo" class="btn btn-success">Tabla Goleo</a>
<a href="#resuljornada" class="btn btn-success">Resultados por Jornada</a>
<a href="#resulequipos" class="btn btn-success">Resultados por Equipos</a>


</div>


<div class="container p-4 mx-auto">

<table class="table table-sm table-striped table-bordered table-hover">

<h3>
  <small class="text-muted">Tabla de Goleo</small>
</h3> 

  <thead class="table-success">
    <tr align="center">

      <th scope="col">Equipo</th>
       <th scope="col">Foto</th>

      <th scope="col">Goles</th>
      <th scope="col">Nombre</th>
      <th scope="col">id</th>
      <th scope="col">Equipo</th>
      <th scope="col">Dorsal</th>
      <th scope="col">Torneo</th>

    </tr>
  </thead>
  <tbody>
      
      
      

      {{#each goles}}
      
    <tr align="center">
      <td><img src="{{Escudo}}" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td><img src="{{Foto}}" width="40px" height="40px" class="img-thumbnail"></img></td>

      <td>{{G}}</td>
      <td>{{Nombres}}</td>
      <td> {{ID}} </td>
      <td>{{Nombre_Equipo}}</td>
      <td>{{Dorsal}}</td>
      <td>{{id_torneo}}</td>

    </tr>
  {{/each}}
    
  </tbody>
</table>

</div>




<a name="resuljornada"></a>
<div class="container p-4 mx-auto">
    <a href="#tablageneral" class="btn btn-success">Tabla General</a>

<a href="#tablagoleo" class="btn btn-success">Tabla Goleo</a>
<a href="#resuljornada" class="btn btn-success">Resultados por Jornada</a>
<a href="#resulequipos" class="btn btn-success">Resultados por Equipos</a>


</div>



<div class="container p-1 mx-auto">

<table class="table table-sm table-striped table-bordered table-hover">
    <h3>
  <small class="text-muted">Tabla de Resultados por Jornada</small>
</h3>
  <thead class="table-success">
    <tr align="center">
      <th scope="col">J</th>
      <th scope="col">Esc</th>
      <th scope="col">Equipo</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">Rival</th>
            <th scope="col">Escudo R.</th>

            <th scope="col">Pts</th>

      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>

    </tr>
  </thead>
  <tbody>
      
      
      

      {{#each j1}}
      
    <tr align="center">
      <td>{{Jornada}}</td>

      <td><img src="{{EscLocal}}" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td>{{Equilocal}}</td>
      <td>{{GF}}</td>
      <td>{{GC}}</td>
      <td>{{Nombre_Equipo}}</td>
            <td><img src="{{Escudo}}" width="40px" height="40px" class="img-thumbnail"></img></td>

            <td>{{Puntos}}</td>

      <td>{{Fecha}}</td>
      <td>{{hora}}</td>

    </tr>
  {{/each}}
    
  </tbody>
</table>



<a name="resulequipos"></a>
<div class="container p-4 mx-auto">
    <a href="#tablageneral" class="btn btn-success">Tabla General</a>

<a href="#tablagoleo" class="btn btn-success">Tabla Goleo</a>
<a href="#resuljornada" class="btn btn-success">Resultados por Jornada</a>
<a href="#resulequipos" class="btn btn-success">Resultados por Equipos</a>


</div>



</div>


<div class="container p-1 mx-auto">

<table class="table table-sm table-striped table-bordered table-hover">
    <h3>
  <small class="text-muted">Tabla de Resultados agrupados por equipo</small>
</h3>
  <thead class="table-success">
    <tr align="center">
      <th scope="col">J</th>
      <th scope="col">Esc</th>
      <th scope="col">Equipo</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">Rival</th>
            <th scope="col">Escudo R.</th>

            <th scope="col">Pts</th>

      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>

    </tr>
  </thead>
  <tbody>
      
      
      

      {{#each equipos}}
      
    <tr align="center">
      <td>{{Jornada}}</td>

      <td><img src="{{EscLocal}}" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td>{{Equilocal}}</td>
      <td>{{GF}}</td>
      <td>{{GC}}</td>
      <td>{{Nombre_Equipo}}</td>
            <td><img src="{{Escudo}}" width="40px" height="40px" class="img-thumbnail"></img></td>

            <td>{{Puntos}}</td>

      <td>{{Fecha}}</td>
      <td>{{hora}}</td>

    </tr>
  {{/each}}
    
  </tbody>
</table>

</div>

<div class="container p-4 mx-auto">
    <a href="#tablageneral" class="btn btn-success">Tabla General / Inicio</a>

<a href="#tablagoleo" class="btn btn-success">Tabla Goleo</a>
<a href="#resuljornada" class="btn btn-success">Resultados por Jornada</a>
<a href="#resulequipos" class="btn btn-success">Resultados por Equipos</a>


</div>
